body {
    width: 900px;
    height: 800px;
    background-color: #ffd800;
    font-family: 'Raleway', sans-serif;
}


nav#encabezado {
    background-color: black;
    width:1200px;
    height:100px;
}

nav header {
    font-size: 50px;
    color: white;
    text-align: center;
}

nav#menu {
    float: left;
    width: 1200px;
    height: 50px;
    margin-top:-2000px;
    background: linear-gradient(-45deg, #ffd800 27%, #000000 20%);
    margin-top: 3px;
    border: 1px solid white;
}

nav img{
    width:80px;
    height:80px;
    overflow:auto;
    float:right;
    margin-right:40px;
    margin-top:-50px;
}

section#cuerpo {
    width:850px;
    height: 300px;
    float: left;
    margin-left:10px;
    margin-top:10px;
}

section#cuerpo header{
    font-size:30px;
    text-align:center;
    font-family:Times New Roman, Times, serif;
}

section#cuerpo p{
    float:left;
    margin-left:20px;
}

nav ul{ 
    margin:0; 
    padding:0; 
    list-style:none; 
    padding-right:20px; 
}

nav ul li{
    display:inline-block; 
   line-height:40px; 
}

nav ul li a{
    color:white;
    display:block;
    padding:0 50px; 
    text-decoration:none; 
}


section#información {
    width:300px;
    height:475px;
    float: right;
    text-align:center;
    margin-right:-301px;
    margin-top:5px;
    border-radius:15px;
    border-block: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

section#información img{
width:225px;
height:165px;
 }

section#Eslogan footer {
    width: 1200px;
    height: 100px;
    background:black;
    margin-top: 30px;
}

section#Eslogan {
    color: white;
    margin-left:0;
    text-align:center;
}


 

